.ShoutOutCard{
 border:#aaa 2px solid;
 background-color: white ;

 margin:10px;
 border-radius: 15px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  width:80%;
 align-items: center;
 

}

.ShoutOutCard_photo{
  width:100px;
  
}

